/* All style should go in this document. */


/*Stylesheet for personal website */

/* General Tags */
html {
	font-size: .85rem;
}


h3
{
	font-size:20px;
	font-family:serif;
	padding-top:20px;
	margin-left:20px;
}



h2
{
	font-size: 25px;
	font-family:serif;
	padding-top:20px;
	margin-left:30px;
	font-weight: 0px;
}

h1
{
	padding-top:30px;
	padding-left:5px;
}

body
{
	color: white;
	background-color: #0B0B0B;
	margin:0px;
	padding-left:0px;
	font-family:sans-serif;
	display:flex;
	flex-wrap:wrap;
	align-self:center;
	align-items:center;
	flex-grow:1;
	flex-shrink:1;
	flex-basis:auto;
	min-height:100vh;
	min-width: 100vw;
	flex-direction:column;
}
.header > img 
{
	max-width: 75vw;
	max-height: 50vh;
	height:100px;
}

p
{
	margin-left:20px;
	padding-top:10px;
	text-decoration: none;
	font-size:1.2rem;
}



/* Special ID tags */
div.header
{
	margin-top:30px;
	width:1000px;
	max-width: 75vw;
	height:100px;
	box-shadow: 5px 1px 1px black,-2px 1px 1px black;
	background-color:#101010;
}

div.navigation
{
	text-decoration:none;
	padding:0;
	float:left;
	background-color:#AE0000;
	width:1000px;
	max-width: 75vw;
	height:50px;
	border:thin;
	border-top:solid;
	border-bottom:solid;
	border-width:1px;
	border-color:#D52121;
	box-shadow: 5px 1px 1px black,-2px 1px 1px black;
	top:0px;
}


/*Position */
div.contentArea
{
	color: #EDEDED;
	padding:0px;
	width:1000px;
	max-width: 75vw;
	height:450px;
	min-height: 50vh;
	background-color:#1C1C1C;
	box-shadow: 5px 10px 1px black,-2px 1px 1px black;
	overflow:auto;
}

h2.contentArea
{
	font-family:serif;
	padding-top:20px;
	margin-left:20px;
	font-weight: 0px;
}
p.contentArea
{
	margin-left:20px;
	padding:10px;
	text-decoration: none;
	min-width: 25vw;
	line-height:1.45;
	overflow: hidden;
}
div.footer
{
	background-color:black;
	width:1000px;
	max-width: 75vw;
	min-height: 5vh;
	height:50px;
	box-shadow: 5px 10px 1px black,-2px 1px 1px black;
}

.objectDisplay
{
	width:960px;
	height:300px;
}

#portfolioImage
{
	width:250px;
	height:250px;
	vertical-align:text-top;
	float:right;
	margin:10px;
	border-radius:10px;
	border: 1px solid black;
}

.socialLinks
{
	text-align: right;
	float:right;
	height:32px;
	width:32px;
	display:block;
	margin:0px 10px;
}

/* Class IDs */
 p.footer
 {
 	margin-top:0px;
 }
ul.nav
{
	list-style-type:none;
	overflow:hidden;
	margin:0px;
	margin-left:0%;
	width:75vw;
}

li.nav
{
	float:left;
	padding-top:15px;
	margin-right:.75vw;
	flex-shrink:0;
}


dl.contact
{
	margin-left:30px;
}
dt.contact
{
	font-family:serif;
	font-size:20px;
}
dd.contact
{
	font-size:15px;
	padding-bottom:5px;
	margin-left:0px;
}
a
{
	font-size: 1.3rem;

}
a:link,a:visited
{
	text-transform: uppercase;
	font-size: .9rem;
	text-align: center;
	color: white;
	text-decoration:none;

}

a:hover
{
	text-transform: uppercase;
	text-align: center;
	color: orange;
}


/* Bootstrap override style */

.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: transparent;
}

.nav>li>a {
    position: relative;
    display: inherit;
    padding: 5px 15px;
}

img.img-responsive
{
	max-width: 100%;
	padding-left: 30px;
	display: block;
	min-height: 12vh;
	height:auto;
	width: auto;
}

.row {
    max-width: 45vw;
    margin-left: 20px;
    min-width: 90%;
}
