/* All style should go in this document. */


/*Stylesheet for personal website */

/* General Tags */
h3
{
	color:white;
	font-size:20px;
	font-family:serif;
	padding-top:20px;
	margin-left:20px;
}

h2 
{
	color:white;
	font-size:25px;
	font-family:serif;
	padding-top:20px;
	margin-left:20px;
}

h1
{
	color:white;
	padding-top:30px;
	padding-left:5px;
}

body
{
	color: white;
	background-color: #0B0B0B;
	margin:0px;
	padding-left:0px;
	font-family:sans-serif;
}

p
{
	color:white;
	margin-left:20px;
	padding-top:10px;
	text-decoration: none;
	font-size:15px;
}



/* Special ID tags */
#header
{
	color:white;
	margin-left:30px;
	width:1000px;
	height:100px;
	box-shadow: 5px 1px 1px black,-2px 1px 1px black;
	background-color:#101010;
}

#navigation
{
	color:white;
	text-decoration:none;
	margin-left:30px;
	padding:0;
	float:left;
	background-color:#AE0000;
	width:1000px;
	height:50px;
	border:thin;
	border-top:solid;
	border-bottom:solid;
	border-width:1px;
	border-color:#D52121;
	box-shadow: 5px 1px 1px black,-2px 1px 1px black;
}


/*Position */
#contentArea
{
	color: #EDEDED;
	margin-left:30px;
	padding:0px;
	font-size: 18px;
	width:1000px;
	height:500px;
	top:20%;
	left:15%;
	background-color:#1C1C1C;
	box-shadow: 5px 10px 1px black,-2px 1px 1px black;
}

#footer
{
	background-color:black;
	width:1000px;
	height:50px;
	margin-left:30px;
	margin-top:0px;
	padding-left:0px;
	box-shadow: 5px 10px 1px black,-2px 1px 1px black;

}

#objectDisplay
{
	width:960px;
	height:300px;
}

.socialLinks
{
	text-align: right;
	float:right;
	height:32px;
	width:32px;
	display:block;
	margin:0px 10px;
}

/* Class IDs */

ul.nav
{
	list-style-type:none;
	overflow:hidden;
	margin:0px;
	margin-left:5%;
}

li.nav
{
	float:left;
	padding-right:0px;
	margin-left: 5%;
	padding-top:15px;
}

dl.contact
{
	margin-left:30px;
}
dt.contact
{
	font-family:serif;
	font-size:20px;
}
dd.contact
{
	font-size:15px;
	padding-bottom:5px;
	margin-left:0px;
}

a:link,a:visited
{
	text-transform: uppercase;
	font-size: 20px;
	text-align: center;
	color: white;
	text-decoration:none;

}

a:hover
{

	text-transform: uppercase;
	font-size: 20px;
	text-align: center;
	color: orange;
	border-bottom: 1px dotted orange;
}

