<div class="col-xs-12">
  <!--Portfolio Image Gallery -->
    <div class="row">
      <h2>Portfolio</h2>
      <div class="col-md-6 col-lg-6 portfolio-item">
        <img class="img-responsive" src="resources/img5.jpg" alt="">
      </div>
      <div class="col-md-6 col-lg-6 portfolio-item">
        <h3>Flexbox</h3>
        <p>A project where we used built in functionality in CSS3 to create a flexbox container that centers the webpage.</p>
      </div>
      <div class="col-md-6 col-lg-6 portfolio-item">
        <img class="img-responsive" src="resources/image4.gif" alt="">
      </div>
     <div class="col-md-6 col-lg-6 portfolio-item">
        <h3>GameUI</h3>
        <p>A GameUI created by me; it uses coroutines in order to iterate the score, and adjust things like costumes and player health.</p>
      </div>
     <div class="col-md-6 col-lg-6 portfolio-item">
        <img class="img-responsive" src="resources/image2.png" alt="">
      </div>
     <div class="col-md-6 col-lg-6 portfolio-item">
        <h3>Pixel Art</h3>
        <p>Pixel art created by me; it was created using photoshop on a small canvas.</p>
      </div>            
    </div>
</div>