<div class="col-xs-12">
<h2 class="contentArea">
  <a href="resources/KinoRoseResume.pdf" target="_blank"><span class="contentArea">Resume</span></a>
</h2>
<p>
  <dl class="contact">
   <dt class="contact">Name</dt>
   <dd class="contact">Kino Rose</dd>
   <dt class="contact">Email Address </dt>
   <dd class="contact">Kinoarose@gmail.com</dd>
   <dt class="contact">Programming Languages</dt>
   <dd class="contact"> Intermediate
     <ul>
       <li> C# </li>
       <li> C </li>
       <li> JavaScript</li>
       <li> Java </li>
       <li> HTML</li>
       <li> CSS </li>
     </ul>
   </dd>
   <dt class="contact"> Graphical Software Knowledge </dt>
   <dd class="contact">
    <ul>
      <li> Adobe Photoshop </li>
    </ul>
   </dd>
   <dt class="contact"> Technologies Used </dt>
   <dd class="contact">
    <ul>
      <li> Unity </li>
      <li> Visual Studio </li>
      <li> Git</li>
      <li> Rpg Maker MV </li>
    </ul>
   </dd>
  </dl> 
</p>
</div>
